# Python 
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/

# Environment variables 
.env

# Database
*.db 
*.sqlite
*.sqlite3

# Tooling
.mypy_cache/
.pytest_cache
.ruff_cache/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db